<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Formulário de Cadastro de Notícia</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css" />

</head>

<body>
	<nav class="navbar navbar-lights navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<div class="p-1 mb-1 ml-1 bg-dark text-white">
					<h4>Formulário de Cadastro de Notícia</h4>
				</div>
			</div>
			<div class="btn-group " role="group">
				<button type="button" class="btn btn-dark"><a href="/">Voltar para a Home</a></button>
				<button type="button" class="btn btn-dark"><a href="/noticias">Listagem</a></button>
			</div>
		</div>
	</nav>

	<div class="container">

		<form action="/noticias/salvar" method="post">
			<% if (validacao.length) { %>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger">
						<strong> Atenção!</strong>
						<ul>
							<% for (var i = 0; i < validacao.length; i++) { %>
							<li><%= validacao[i].msg %></li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
			<% } %>

			<div class="form-group">
				<label class="label_form">Título</label>
				<input class="form-control" type="text" id="titulo" name="titulo" value="<%=noticia.titulo%>"
					placeholder="Título da Notícia">
			</div>

			<div class="form-group">
				<label class="label_form">Resumo</label>
				<input class="form-control" type="text" id="resumo" name="resumo" value="<%=noticia.resumo%>"
					placeholder="Resumo da Notícia">
			</div>

			<div class="form-group">
				<label class="label_form">Nome autor</label>
				<input class="form-control" type="text" id="autor" name="autor" value="<%=noticia.autor%>"
					placeholder="Autor da Notícia">
			</div>

			<div class="form-group">
				<label class="label_form">Data dos Acontecimentos</label>
				<input class="form-control" type="date" id="data_noticia" name="data_noticia"
					value="<%=noticia.data_noticia%>" placeholder="Data da Notícia">
			</div>

			<div class="form-group">
				<label class="label_form">Notícia</label>
				<textarea class="form-control" id="noticia" name="noticia" rows="5"
					cols="80"><%=noticia.noticia%></textarea>
			</div>
			<button class="btn btn-dark btn-sm" type="submit" value="Enviar">Enviar</button>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

</body>

</html>